* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: 28.008px;
    background-color: #F5EDE7;
}

.container {
    max-width: 1405px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: end;
}

.header__check {
    background-color: blue;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 16px;
}

.menu__list-link {
    color: #000;
    font-size: 16px;
    line-height: 12.802px;
    text-transform: uppercase;
    text-decoration: none;
}

.user-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 800px;
}

.user-nav__link {
    color: #000;
    text-decoration: none;
}

.user-nav__login {
    width: 49px;
    cursor: pointer;
}

.user-nav__cart {
    width: 37px;
    margin-left: 23px;
    cursor: pointer;
}

.top {
    background-color: #FFC3A0;
}

.top__inner {
    padding: 107px 0 85px;
    background-image: url('../img/top-bg.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

.top__title {
    font-family: 'Roboto', sans-serif;
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    margin-bottom: 33px;
    max-width: 364px;
}

.top__text {
    margin-bottom: 32px;
    max-width: 444px;
}

.top__link {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    padding: 12px 73px;
    border-radius: 35px;
    border: 1px solid #000;
    text-decoration: none;
}

.tools {
    padding: 80px 0 94px;
}

.tools__inner {
    text-align: center;
}

.tools__title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.01px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin-bottom: 63px;
}

.tools__item {
    width: 326px;
}

.tools__item-img {
    margin-bottom: 12px;
}

.tools__item-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.996px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.tools__link {
    padding: 12px 73px;
    color: #0126DE;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    border-radius: 35px;
    border: 1px solid #0126DE;
}

.benefit {
    margin-top: 41px;
    margin-bottom: 25px;
    padding: 48px 0;
}

.benefit__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__inner-img {
    margin-right: 48px;
}

.benefit__inner-content {
    width: 650px;
}

.benefit__inner-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56.023px;
    margin-bottom: 35px;
}

.kits {
    padding: 71px 0 85px;
}


.kits__inner-title {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 56.023px;
    margin-bottom: 25px;
}

.kits__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kits__item {
    max-width: 453px;
    margin-bottom: 36px;
}

.kits__item-img {
    margin-bottom: 12px;
}

.kits__item-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.996px;
    text-transform: uppercase;
}

.kits__item-text {
    font-size: 20px;
    line-height: 27.997px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.kits__item-btn {
    padding: 12px 73px;
    color: #0126DE;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    border-radius: 35px;
    border: 1px solid #0126DE;
    background-color: transparent;
    cursor: pointer;
}