* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    color: #000;
    font-size: 18px;
    font-style: normal;
    line-height: 28.008px;
    background-color: #F5EDE7;
}

.container {
    max-width: 1405px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 88px;
    align-items: end;
}

.header__check {
    background-color: blue;
}

.menu {
    margin-left: auto;
}

.menu__list {
    display: flex;
}

.menu__list-item+.menu__list-item {
    margin-left: 16px;
}

.menu__list-link {
    color: #000;
    font-size: 16px;
    line-height: 12.802px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

/* .menu__list-link:hover {
    text-decoration: underline;
} */

  .menu__list-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .menu__list-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.user-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 800px;
}

.user-nav__link {
    color: #000;
    text-decoration: none;
}

/* .user-nav__link:hover {
    opacity: 0.33;
} */

.user-nav__login {
    width: 49px;
    cursor: pointer;
}

.user-nav__login:hover {
    opacity: 0.33;
}

.user-nav__cart {
    width: 37px;
    margin-left: 23px;
    cursor: pointer;
}

.user-nav__cart:hover {
    opacity: 0.33;
}

.top {
    background-color: #FFC3A0;
}

.top__inner {
    padding: 107px 0 85px;
    background-image: url('../img/top-bg.svg');
    background-repeat: no-repeat;
    background-position: center right;
}

.top__title {
    font-family: 'Roboto', sans-serif;
    font-size: 76px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    margin-bottom: 33px;
    max-width: 364px;
}

.top__text {
    margin-bottom: 32px;
    max-width: 444px;
}

.top__link {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    padding: 12px 73px;
    border-radius: 35px;
    border: 1px solid #000;
    text-decoration: none;
}

.top__link:hover {
    color: #fff;
    background-color: #000;
    border: none;
}

.tools {
    padding: 80px 0 94px;
}

.tools__inner {
    text-align: center;
}

.tools__title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.01px;
}

.tools__items {
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin-bottom: 63px;
}

.tools__item {
    width: 326px;
}

.tools__item-img {
    margin-bottom: 12px;
}

.tools__item-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.996px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.tools__link {
    padding: 12px 73px;
    color: #0126DE;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    border-radius: 35px;
    border: 1px solid #0126DE;
}

.tools__link:hover {
    color: #fff;
    background-color: #0126DE;
    border: none;
}

.benefit {
    margin-top: 41px;
    margin-bottom: 25px;
    padding: 48px 0;
}

.benefit__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefit__inner-img {
    margin-right: 48px;
}

.benefit__inner-content {
    width: 650px;
}

.benefit__inner-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 56.023px;
    margin-bottom: 35px;
}

.kits {
    padding: 71px 0 85px;
}


.kits__inner-title {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 56.023px;
    margin-bottom: 25px;
}

.kits__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kits__item {
    max-width: 453px;
    margin-bottom: 36px;
}

.kits__item-img {
    margin-bottom: 12px;
}

.kits__item-title {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.996px;
    text-transform: uppercase;
}

.kits__item-text {
    font-size: 20px;
    line-height: 27.997px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

.kits__item-btn {
    padding: 12px 73px;
    color: #0126DE;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    border-radius: 35px;
    border: 1px solid #0126DE;
    background-color: transparent;
    cursor: pointer;
}

.kits__item-btn:hover {
    color: #fff;
    background-color: #0126DE;
    border: none;
}

.features {
    margin: 0 0 32px;
}

.features__inner {
    background-image: url('../img/features-photo.png');
    padding-top: 976px;
    background-repeat: no-repeat;
}

.features__inner-img {
    margin-bottom: 41px;
}

.features__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: center;
    text-align: center;
}

.features__item {
    width: 450px;
    height: 630px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #000;
}

.features__item-img {
    margin-bottom: 14px;
}

.features__item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 68.553px;
    margin-bottom: 20px;
}

.additions {
    padding: 16px 0 32px;
    border-bottom: 1px solid #000;
}

.additions__items {
    width: 1080px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.additions__item {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    margin-bottom: 48px;
}

.additions__item-img-1 {
    margin-right: 48px;
}

.additions__content-svg1 {

    position: absolute;
    top: -48px;
    right: -123px;
    z-index: -1
}

.additions__content-svg2 {
    position: absolute;
    left: 200px;
    top: 372px;
}

.additions__item-img-2 {
    order: 1;
    margin-left: 66px;
}

.additions__content-title {
    font-size: 16px;
    line-height: 24.003px;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.additions__content-text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 40.005px;
    margin-bottom: 33px;
}

.additions__content-link {
    padding: 12px 73px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 34.002px;
    border-radius: 35px;
    border: 1px solid #000;
    text-decoration: none;
}

.additions__content-link:hover {
    color: #fff;
    background-color: #000;
    border: none;
}

.tarlabakes {
    padding: 65px 0 65px;
    background-color: white;
    border-bottom: 1px solid #000;
}

.tarlabakes__inner-text {
    margin-bottom: 15px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: 60.01px;
}

.items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
}

.items-wrap:before,
.items-wrap:after {
    content: "";
    height: 100%;
    top: 0;
    width: 10%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.items-wrap:before {
    left: 0;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%);
}

.items-wrap:after {
    right: 0;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%);
}

.items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    margin-left: 25px;
}

.marquee {
    animation: scroll 28s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

.join {
    margin-top: 17px;
    margin-bottom: 49px;
}

.join__inner {
    text-align: center;
}

.join__inner-title {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.join__inner-text {
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 43.992px;
    margin-bottom: 41px;
}

.join__inner-link {
    padding: 17px 139px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

.footer {
    margin-top: 65px;
    margin-bottom: 45px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__menu-title {
    color: #000;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36.018px;
    margin-bottom: 23px;
}

.footer__list {
    list-style-type: none;
}

.footer__menu-link {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.003px;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-decoration: none;
    position: relative;
}

.footer__menu-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .footer__menu-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.social__media {
    display: flex;
    justify-content: space-between;
}

.social__media-item+.social__media-item {
    margin-left: 10px;
}



@media (max-width: 1390px) {

    .kits {
        padding: 71px 0 0;
    }

    .features__inner {
        padding-top: 485px;
        background-size: 52%;
        background-position: top center;
    }

    .kits__items {
        align-items: center;
        text-align: center;
    }

    .kits__item {
        max-width: 387px;
    }

    .kits__item-img {
        width: 90%;
    }
}

@media (max-width: 1375px) {

    .features__item {
        width: 402px;
    }

    .features__item + .features__item  {
        margin-left: 3px;
    }

    .features__item-img {
        width: 99%;
    }

    .features__item-title {
        font-size: 52px;
    }
}

@media (max-width: 1366px) {

    .menu {
        margin-left: auto;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .user-nav {
        margin-left: auto;
    }

    .top__title {
        font-size: 79px;
    }

    .top__text {
        font-size: 17px;
    }
}


@media (max-width: 1348px) {
}

@media (max-width: 1325px) {

    .additions__item-img-1 {
        z-index: -1;
    }
    .additions__content-svg1 {

        right: 251px;
    }
}